<div class="container">
   <table class="table">
      <thead>
         <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Actions</th>
         </tr>
      </thead>
      <tbody>
            <tr *ngFor="let product of products._embedded.products">
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.quantity}}</td>
                <td>
                <button class="btn btn-primary">Edit</button>
                <button class="btn btn-danger">Delete</button>
                </td>
            </tr>
      </tbody>
   </table>
</div>